
@model BNKMVC.Models.UserPhoto
<div class="row">
    <div class="col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Photo</h4>
                <img class="img-fluid circle-filled" src="@Model.PhotoUrl" />
            </div>
        </div>
        <div class="card">
            <form action="@Url.Action("ChangePicture", "Admin")" method="post">

                <hr>
                <div class="card-body">
                    <h4 class="card-title">Update Customer Photo</h4>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label col-form-label">Change Photo</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Upload Customer Photo</span>
                                        @Html.HiddenFor(a=>a.Id)
                                        @Html.HiddenFor(a=>a.PhotoUrl)
                                    </div>
                                    <div class="custom-file">

                                        <input type="file" class="item-img file center-block custom-file-input" name="file_photo" />
                                        @Html.HiddenFor(a => a.ImageData, new { id = "fileData" })
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="action-form">
                            <div class="form-group m-b-0 text-left">
                                <button type="submit" class="btn btn-info waves-effect waves-light">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

            </form>
        </div>
    </div>

</div>


<div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div id="upload-demo" class="center-block"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
            </div>
        </div>
    </div>
</div>


