@{
    ViewBag.Title = "Contact";
}

@model BNKMVC.Models.FeedBackDto
<section class="single-page-title section-padding">
    <div class="container text-center">
        <h2>Contact us</h2>
    </div>
</section>
<!-- .page-title -->
<section class="contact-form ptb-100">
    <div class="container text-center">
        <h2>We Encourage You To Reach out To our<br> 24/7, 24/365 customer service energistically.</h2>


        <form action="@Url.Action("Contact", "Home")" method="post">
            <div class="row">
                <div class="col-12">
                    @Html.ValidationSummary("", new { @class = "alert alert-warning" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">


                    <div class="form-group">

                        <label for="nameFive-first">Your Name</label>
                        @Html.TextBoxFor(a => a.Clientname, new { @class = "form-control src-only", placehoder = "Your name" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="emailFive">Email</label>
                        @Html.TextBoxFor(a => a.email, new { @class = "form-control src-only", type = "email", placehoder = "Your email address" })

                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="messageOne">Message</label>
                        @Html.TextAreaFor(a => a.Message, new { @class = "form-control src-only", placehoder = "Your name" })
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->

            <button type="submit" name="btn" id="btnSubmit" class="btn btn-primary">Send Message</button>
        </form>
    </div><!-- /.col-md-8 -->



</section>


<!-- .contact-form-->
@*<section class="map-section">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.904118566802!2d-79.37998208497184!3d43.65016316064596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb32f3883163%3A0xf32b440fb337a282!2s1+Adelaide+St+E+%232700%2C+Toronto%2C+ON+M5C+2V9%2C+Canada!5e0!3m2!1sen!2sng!4v1551089010469" width="1300" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>*@


<div id="notifyModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Notification </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h5 class="m-t-30">Notification <span class="pull-right requestValue"></span></h5>
                <div>
                    <p id="msgText">
                        We have received your request, and we get back to you.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var view = "@TempData["view"]";
        if (view === 1) {

            $("#notifyModel").modal();
        }
    </script>

}
@section css{

    <link href="~/HTML/css/style.css" rel="stylesheet" />
}