@model BNKMVC.Models.VerificationVm

@{
    ViewBag.Title = "Upload Document";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Verification Required</h4>
                <h6 class="card-subtitle"> Verify by uploading a document </h6>
                @using (Html.BeginForm())
                { 

                    <div class="form-group">
                        @Html.AntiForgeryToken()
                        <label for="exampleInputEmail1">Document Type</label>
                        <select name="@Html.NameFor(a => a.VerificationType)" class="form-control">
                            <option Value="Government Issued Id Card"> Government Issued Id Card</option>
                            <option Value="Driver's license"> Driver's license </option>
                            <option Value="International Passport"> International Passport" </option>
                            <option Value="Others"> Others" </option>


                        </select>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(a => a.CryptoAccountId)
                        @Html.HiddenFor(a => a.DocumentUrl, new { id = "docUrl" })
                    </div>
                    <div class="form-group">
                        <label> Upload Document</label> <br />
                        <span id="imgAttr">

                        </span>
                        <br />
                        <button class="btn btn-secondary" type="button" id="UploadDocument"> <i class="mdi mdi-upload"></i>  Upload a document</button>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                }

            
            </div>
        </div>
    </div>
</div>
 
@Html.Action("Verifications") 
@section Scripts
{
    
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript">  
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        //$('#upload_widget_opener').cloudinary_upload_widget({ 
        //    cloudName: "votel", apiKey: "849621861927721",
        //    uploadSignature: generateSignature
        //}, (error, result) => { }); 
        var widget = cloudinary.createUploadWidget({ 
                cloudName: "votel", apiKey: "849621861927721", uploadPreset: "unsignedUpload",folder: "Cryptocurrency"
            },
            (error, result) => {
                if (result && result.event === "success") {
                    // do something 
                    $("#docUrl").val(result.info.secure_url);
                 
                    $("#imgAttr").text("Image Found, Click on submit");
                }
            });

        $("#UploadDocument").click(function(event) {
            event.preventDefault();
            widget.open();
        });
    </script>  
    <script src="~/js/site.js"></script>
  
}
