@using BNKMVC.GoUrlCore
@model BNKMVC.Models.GoUrl.DisplayCryptoboxModel

@{
    ViewBag.Title = "Secured Payment";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@section topScript
{

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/cryptobox.js"></script>
}
@section css{ 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">

    <style>
        .tooltip-inner {
            max-width: 350px;
        }
    </style>
}
<!-- JQuery Payment Box Script-->
<script>
    cryptobox_custom('@ViewBag.JsonUrl', @Html.Raw(Model.is_paid ? 1 : 0), '../', 'gourl_', '');
</script>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Payment for #Trans_@ViewBag.transId</h1>

                <div class="gourl_loader">

                    <div class="text-center gourl_loader_button">
                        <a style="margin: 80px 20px 40px 20px" href="@HttpContext.Current.Request.Url.AbsoluteUri#gourlcryptolang" class="btn btn-primary btn-lg"><i class='fa fa-spinner fa-spin'></i> &#160; @Model.coinName Box Loading ...</a>
                    </div>
                    <div style="margin: 70px; display: none" class="panel panel-danger gourl_cryptobox_error">

                        <div class="panel-heading">
                            <h3 class="panel-title">Error !</h3>
                        </div>

                        <div class="panel-body">
                            <div class="gourl_error_message"></div>
                        </div>

                    </div>

                </div>
              
                
            <!-- Area above Payment Box -->

            <div class="gourl_cryptobox_top" style="display: none">

                <!-- Notifications -->
                @ViewBag.Message


                <div class="row">

                    <!-- Box Language -->
                    <div class="col-xs-6 col-md-3">
                        <div class="dropdown" style='margin-bottom: 20px'>
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Language &#160; <span class='small'>@Controls.localisation[Model.language].Name</span>
                                <span class="caret"></span>
                            </button>
                            @Html.LanguageBox("en", "gourlcryptolang", false)
                        </div>
                    </div>

                    <!-- Logo -->
                    <div class="col-xs-6 col-md-3 gourl_boxlogo_paid" style="display: none">
                        <div class='text-right'>
                            <img class='gourl_boxlogo' alt='logo' src='#'>
                        </div>
                        <br>
                    </div>

                    <div class="col-xs-6 col-md-9 gourl_boxlogo_unpaid" style="display: none">
                        <div class='text-right'>
                            <img class='gourl_boxlogo' alt='logo' src='#'>
                        </div>
                        <br>
                    </div>

                </div>

            </div>

                <div class="theme-showcase" role="main">



                    <br><br>
              
                    <!-- Crypto Payment Box -->

                    <div class="gourl_cryptobox_unpaid" style="display: none">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card border border-primary" >
                                    <div class="card-header bg-primary  text-white">
                                        <h4 class="m-b-0 ">1. <span class="gourl_texts_instruction"></span></h4>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <ul class="list-group">
                                                <!-- <li class="gourl_texts_intro1"></li> -->
                                                <li data-site="circle.com" data-url="https://www.circle.com/" class="gourl_texts_intro1b list-group-item"></li>
                                                <li class="gourl_texts_intro2 list-group-item"></li>
                                                <li><b class="gourl_texts_intro3 list-group-item"></b></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="card border border-primary">
                                    <div class="card-header bg-primary text-white">
                                        <h4 class="m-b-0 ">2. <span class="gourl_texts_coin_address"></span></h4>
                                    </div>
                                    <div class="card-body"> 
                                        <div>
                                            Wallet Address  : <p>1Hnc6YbVBRgva39WrhLJD5uuQGQkttezu3 </p>
                                            <div>
                                                <input type="text" id="text-to-copy" class="form-control" value="1Hnc6YbVBRgva39WrhLJD5uuQGQkttezu3" disabled="disabled"   />  <br/>
                                                <button class="btn btn-primary" id="copy-text"> <i class="fa fa-copy"></i> Copy</button> <br/>
                                                <span id="copied-text"  class="text text-success" style="display: none;">Copied!</span>
                                            </div>

                                         
                                            <p> </p>
                                        </div>
                                        <br>
                                       
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-4">
                                <div class="card text-white bg-warning">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white">3. <span class="gourl_paymentcaptcha_amount"></span> </h4>
                                    </div>
                                    <div class="card-body">
                                        <span class="gourl_amount"></span> <span class="gourl_coinlabel"></span> + <a class="gourl_texts_fees gourl_fees_hint" href="#"></a>

                                    </div>
                                </div>



                            </div>
                            <div class="col-md-4">
                                <div class="card text-white bg-warning">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white">4. <span class="gourl_paymentcaptcha_status"></span> </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="gourl_paymentcaptcha_statustext"></div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <br>

                        <form action="@HttpContext.Current.Request.Url.AbsoluteUri#gourlcryptolang" method="post">
                            <input type="hidden" id="cryptobox_refresh_" name="cryptobox_refresh_" value="1">
                            <button style="margin: 10px 20px" class="gourl_button_refresh btn btn-primary btn-lg"></button>
                            <button style="margin: 10px 20px" class="gourl_button_wait btn btn-info btn-lg"></button>
                        </form>

                        <br><br><br>

                        <div class="gourl_texts_btn_wait_hint"></div>

                    </div>

                    <!-- Successful Result -->

                    <div class="gourl_cryptobox_paid" style="display: none">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="card card-success">

                                    <div class="card-header">
                                        <div style="float: right; margin-left: 10px">
                                            <span class="gourl_texts_total"></span>: <span class="gourl_amount"></span> <span class="gourl_coinlabel"></span>
                                        </div>
                                        <h3 class="panel-title gourl_paymentcaptcha_title">Result</h3>
                                    </div>

                                    <div class="card-body text-center">

                                        <div style="float: left" class="gourl_paidimg">
                                            <br>
                                            <img style='border: 0' src='https://coins.gourl.io/images/paid.png' alt='Successful'>
                                            <br><br>
                                        </div>

                                        <h3 style='color: #3caf00; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 22px; line-height: 35px; font-weight: bold;' class="gourl_paymentcaptcha_successful">.</h3>

                                        <div class="gourl_paymentcaptcha_date"></div>

                                        <br>
                                        <a style="margin: 10px 20px" href="#" class="gourl_button_details btn btn-info"></a>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Debug / Raw Data -->
                    @*<div class="gourl_cryptobox_rawdata" style="display: none">

                <br><br><br><br><br><br>
                <div class="page-header">
                    <h1>Raw JSON Data (from GoUrl.io payment gateway) -</h1>
                </div>
                <p>
                    You can use php function <a target='_blank' href='https://github.com/cryptoapi/Payment-Gateway/blob/master/cryptobox.class.php#L316'>$box->cryptobox_json_url()</a>; It generates url with your paramenters to gourl.io payment gateway.<br>
                    Using this url you can get bitcoin/altcoin payment box values in JSON format and use it on html page with Jquery/Ajax - <a target='_blank' href='https://github.com/cryptoapi/Payment-Gateway/blob/master/cryptobox.js#L14'>cryptobox_custom(url, paid, path, ext, redirect)</a>. JSON data will allow you to easily customise your bitcoin payment boxes. For example, you can display payment amount and bitcoin payment address with your own text, you can also accept payments in android/windows and other applications.
                </p>
                <p>
                    Alternatively, you can receive JSON values through php curl on server side - php function <a target='_blank' href='https://github.com/cryptoapi/Payment-Gateway/blob/master/cryptobox.class.php#L369'>$box->get_json_values()</a>; and use it in your php/other files without using javascript and jquery/ajax.
                </p>
                <p>
                    <a target='_blank' href='@ViewBag.JsonUrl'>JSON data source &#187;</a>
                </p>
                <div class="well well-sm">
                    <div class='gourl_jsondata'></div>
                </div>

                <div style='position: absolute; left: 0;'>
                    <a target="_blank" href="http://validator.w3.org/check?uri=@HttpContext.Current.Request.Url.AbsoluteUri"><img src="https://gourl.io/images/w3c.png" alt="Valid HTML"></a>
                </div>

            </div>*@

                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts
{
    
    <script>
        document.getElementById('copy-text').addEventListener('click', function(e){
            e.preventDefault();

            // Select the text
            document.getElementById('text-to-copy').select();

            var copied;

            try
            {
                // Copy the text
                copied = document.execCommand('copy');
            } 
            catch (ex)
            {
                copied = false;  
            }

            if(copied)
            {
                // Display the copied text message
                document.getElementById('copied-text').style.display = 'block';    
            }

        });
    </script>
}
